{% extends 'weather_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="about-us">
    <h1>Welcome to Top Tier Weather</h1>
    <p>This web app was ceated by AWS Certified Cloud Solutions Architect Steve Kouemo.
    This web app is fully functional and provides updated weather for any
    city in the world. This app was a project meant to showcase the creator's
    web development skills as well as his understanding of AWS cloud resources.
    This web app was developed with the python based web development framework
    called Django, and it was deployed and hosted on AWS cloud service.
    
    </p>
</div>

{% endblock%}